.margin\:\[0\] {
    margin: 0
}
.justify-content\:\[center\] {
    justify-content: center
}
.align-items\:\[center\] {
    align-items: center
}
.width\:\[100vw\] {
    width: 100vw
}
.height\:\[100vh\] {
    height: 100vh
}
.display\:\[flex\] {
    display: flex
}
.position\:\[fixed\] {
    position: fixed
}
.font-weight\:\[bold\] {
    font-weight: bold
}
.font-size\:\[100px\] {
    font-size: 100px
}
.color\:\[\#fce179\] {
    color: #fce179
}