.masonry{width:700px;margin:0 auto;display:flex;flex-wrap:wrap;gap:16px;position:relative}.masonry .masonry-item{position:absolute;width:25%}.masonry .masonry-item img{width:100%}.masonry{height:300px;background-color:#f0f0f0}
