.font-size\:50px {
    font-size: 50px
}
.font-weight\:bold {
    font-weight: bold
}
.text-transform\:uppercase {
    text-transform: uppercase
}
.margin-bottom\:100px {
    margin-bottom: 100px
}
.color\:--green-color {
    color: var(--green-color)
}
.margin\:0_5px {
    margin: 0 5px
}
.background\:\#eee {
    background: #eee
}
.display\:inline-block {
    display: inline-block
}
.padding\:0_10px {
    padding: 0 10px
}
.z\:1000 {
    z-index: 1000
}
.position\:fixed {
    position: fixed
}
.top\:0 {
    top: 0
}
.left\:0 {
    left: 0
}
.width\:100\% {
    width: 100%
}
.height\:100\% {
    height: 100%
}
.background\:rgba\(0\,_0\,_0\,_0\.5\) {
    background: rgba(0, 0, 0, 0.5)
}
.display\:flex {
    display: flex
}
.justify-content\:center {
    justify-content: center
}
.align-items\:center {
    align-items: center
}
.width\:500px {
    width: 500px
}
.height\:500px {
    height: 500px
}
.background\:\#fff {
    background: #fff
}
.padding\:10px {
    padding: 10px
}
.font-size\:20px {
    font-size: 20px
}
.border-bottom\:1px_solid_\#eee {
    border-bottom: 1px solid #eee
}
.padding-bottom\:10px {
    padding-bottom: 10px
}
.color\:--text-color {
    color: var(--text-color)
}
.font-size\:16px {
    font-size: 16px
}
.display\:inline-flex {
    display: inline-flex
}
.flex-wrap\:wrap {
    flex-wrap: wrap
}
.gap\:5px {
    gap: 5px
}
.transition\:all_1s {
    transition: all 1s
}
.animation\:hexagon-item_linear_infinite_2s {
    animation: hexagon-item linear infinite 2s
}
.after\:content\:attr\(data-content\):after {
    content: attr(data-content)
}
.box-sizing\:border-box {
    box-sizing: border-box
}
.hover\:background\:\#fff:hover {
    background: #fff
}
.hover\:color\:\#000:hover {
    color: #000
}
.hover\:border\:1px_solid_--green-color:hover {
    border: var(1px solid --green-color)
}
.transition\:all_0\.3s {
    transition: all 0.3s
}
.cursor\:pointer {
    cursor: pointer
}
.font-family\:Anton {
    font-family: Anton
}
.font-weight\:500 {
    font-weight: 500
}
.width\:fit-content {
    width: fit-content
}
.margin-top\:20px {
    margin-top: 20px
}
.background\:--green-color {
    background: var(--green-color)
}
.border-radius\:3px {
    border-radius: 3px
}
.border\:1px_solid_var\(--green-color\) {
    border: 1px solid var(--green-color)
}
.width\:30px {
    width: 30px
}
.height\:26px {
    height: 26px
}
.left\:-1px {
    left: -1px
}
.position\:relative {
    position: relative
}
.min-width\:32px {
    min-width: 32px
}
.height\:36px {
    height: 36px
}
.clip-path\:polygon\(50\%_0\%\,100\%_25\%\,100\%_75\%\,50\%_100\%\,0\%_75\%\,0\%_25\%\) {
    clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%)
}
.before\:position\:absolute:before {
    position: absolute
}
.before\:inset\:0:before {
    inset: 0
}
.before\:background\:--green-color:before {
    background: var(--green-color)
}
.before\:content\:attr\(data-content\):before {
    content: attr(data-content)
}
.before\:display\:block:before {
    display: block
}
.before\:clip-path\:inherit:before {
    clip-path: inherit
}
.after\:position\:absolute:after {
    position: absolute
}
.after\:inset\:1px:after {
    inset: 1px
}
.after\:background\:inherit:after {
    background: inherit
}
.after\:display\:block:after {
    display: block
}
.after\:clip-path\:inherit:after {
    clip-path: inherit
}
.flex-direction\:column {
    flex-direction: column
}
.gap\:0 {
    gap: 0
}
.margin-left\:15px {
    margin-left: 15px
}