.font-size\:50px {
    font-size: 50px
}
.font-weight\:bold {
    font-weight: bold
}
.text-transform\:uppercase {
    text-transform: uppercase
}
.color\:lab\(83\.7876\%_-45\.0447_88\.4738\) {
    color: lab(83.7876% -45.0447 88.4738)
}
.margin\:0_5px {
    margin: 0 5px
}
.background\:red {
    background: red
}