.font-size\:50px {
    font-size: 50px
}
.font-weight\:bold {
    font-weight: bold
}
.text-transform\:uppercase {
    text-transform: uppercase
}
.margin-bottom\:100px {
    margin-bottom: 100px
}
.color\:--green-color {
    color: var(--green-color)
}
.margin\:0_5px {
    margin: 0 5px
}
.background\:\#eee {
    background: #eee
}
.display\:inline-block {
    display: inline-block
}
.padding\:0_10px {
    padding: 0 10px
}
.z\:1000 {
    z-index: 1000
}
.position\:fixed {
    position: fixed
}
.top\:0 {
    top: 0
}
.left\:0 {
    left: 0
}
.width\:100\% {
    width: 100%
}
.height\:100\% {
    height: 100%
}
.background\:rgba\(0\,_0\,_0\,_0\.5\) {
    background: rgba(0, 0, 0, 0.5)
}
.display\:flex {
    display: flex
}
.justify-content\:center {
    justify-content: center
}
.align-items\:center {
    align-items: center
}
.width\:500px {
    width: 500px
}
.height\:500px {
    height: 500px
}
.background\:\#fff {
    background: #fff
}
.padding\:10px {
    padding: 10px
}
.font-size\:20px {
    font-size: 20px
}
.border-bottom\:1px_solid_\#eee {
    border-bottom: 1px solid #eee
}
.padding-bottom\:10px {
    padding-bottom: 10px
}
.color\:--text-color {
    color: var(--text-color)
}
.font-size\:16px {
    font-size: 16px
}
.animation\:hexagon-item_linear_infinite_2s {
    animation: hexagon-item linear infinite 2s
}
.after\:content\:attr\(data-content\):after {
    content: attr(data-content)
}
.box-sizing\:border-box {
    box-sizing: border-box
}
.hover\:background\:\#fff:hover {
    background: #fff
}
.hover\:color\:\#000:hover {
    color: #000
}
.hover\:border\:1px_solid_--green-color:hover {
    border: var(1px solid --green-color)
}
.transition\:all_0\.3s {
    transition: all 0.3s
}
.cursor\:pointer {
    cursor: pointer
}
.font-family\:Anton {
    font-family: Anton
}
.font-weight\:500 {
    font-weight: 500
}
.width\:fit-content {
    width: fit-content
}
.margin-top\:20px {
    margin-top: 20px
}
.background\:--green-color {
    background: var(--green-color)
}
.border-radius\:3px {
    border-radius: 3px
}
.border\:1px_solid_var\(--green-color\) {
    border: 1px solid var(--green-color)
}
.height\:fit-content {
    height: fit-content
}
.position\:relative {
    position: relative
}
.--size\:30px\; {
    --size: 30px;
}
.hover\:background\:var\(--green-color\):hover {
    background: var(--green-color)
}
.width\:--size {
    width: var(--size)
}
.height\:calc\(var\(--size\)_\*_58\/100\) {
    height: calc(var(--size) * 58/100)
}
.border-left\:1px_solid_var\(--green-color\) {
    border-left: 1px solid var(--green-color)
}
.border-right\:1px_solid_var\(--green-color\) {
    border-right: 1px solid var(--green-color)
}
.before\:content\:attr\(data-content\):before {
    content: attr(data-content)
}
.before\:position\:absolute:before {
    position: absolute
}
.before\:inset\:0:before {
    inset: 0
}
.before\:background\:inherit:before {
    background: inherit
}
.before\:border-radius\:inherit:before {
    border-radius: inherit
}
.before\:transform\:rotate\(60deg\):before {
    transform: rotate(60deg)
}
.before\:border-left\:1px_solid_var\(--green-color\):before {
    border-left: 1px solid var(--green-color)
}
.before\:border-right\:1px_solid_var\(--green-color\):before {
    border-right: 1px solid var(--green-color)
}
.after\:border-left\:1px_solid_var\(--green-color\):after {
    border-left: 1px solid var(--green-color)
}
.after\:border-right\:1px_solid_var\(--green-color\):after {
    border-right: 1px solid var(--green-color)
}
.after\:position\:absolute:after {
    position: absolute
}
.after\:inset\:0:after {
    inset: 0
}
.after\:background\:inherit:after {
    background: inherit
}
.after\:border-radius\:inherit:after {
    border-radius: inherit
}
.after\:transform\:rotate\(-60deg\):after {
    transform: rotate(-60deg)
}
.flex-direction\:column {
    flex-direction: column
}
.gap\:10px {
    gap: 10px
}
.gap\:1px {
    gap: 1px
}
.margin-left\:16px {
    margin-left: 16px
}