.margin\:0 {
    margin: 0
}
.font-family\:Anton\,_sans-serif {
    font-family: Anton, sans-serif
}
.font-weight\:400 {
    font-weight: 400
}
.background\:\#eee {
    background: #eee
}
.max-width\:1024px {
    max-width: 1024px
}
.margin\:0_auto {
    margin: 0 auto
}
.height\:100vh {
    height: 100vh
}
.width\:100\% {
    width: 100%
}
.display\:flex {
    display: flex
}
.flex-direction\:row {
    flex-direction: row
}
.gap\:2px {
    gap: 2px
}
.box-sizing\:border-box {
    box-sizing: border-box
}
.flex-wrap\:wrap {
    flex-wrap: wrap
}
.color\:--text-color {
    color: var(--text-color)
}
.order\:2 {
    order: 2
}
@media (min-width:768px) {
    .md\:width\:calc\(50\%_-_1px\) {
        width: calc(50% - 1px)
    }
}
@media (min-width:768px) {
    .md\:height\:100\% {
        height: 100%
    }
}
.justify-content\:center {
    justify-content: center
}
.padding\:20px {
    padding: 20px
}
.flex-direction\:column {
    flex-direction: column
}
.background\:\#fff {
    background: #fff
}
.transform\:translateX\(-100\) {
    transform: translateX(-100)
}
.order\:1 {
    order: 1
}
@media (min-width:768px) {
    .md\:order\:3 {
        order: 3
    }
}
.position\:relative {
    position: relative
}
.position\:absolute {
    position: absolute
}
.top\:0 {
    top: 0
}
.right\:0 {
    right: 0
}
.left\:0 {
    left: 0
}
.text-align\:center {
    text-align: center
}
.font-size\:40px {
    font-size: 40px
}
.font-weight\:bold {
    font-weight: bold
}
.color\:--green-color {
    color: var(--green-color)
}
.height\:2px {
    height: 2px
}
.top\:50\% {
    top: 50%
}
.align-items\:center {
    align-items: center
}
.width\:100px {
    width: 100px
}
.gap\:10px {
    gap: 10px
}
.width\:10px {
    width: 10px
}
.height\:10px {
    height: 10px
}
.background\:var\(--green-color\) {
    background: var(--green-color)
}
.border-radius\:100px {
    border-radius: 100px
}
.animation-delay\:0\.6s {
    animation-delay: 0.6s
}
.animation\:_scale_0\.8s_linear_infinite {
    animation:  scale 0.8s linear infinite
}
.opacity\:0\.5 {
    opacity: 0.5
}
.animation\:_spin_8s_linear_infinite {
    animation:  spin 8s linear infinite
}
.--size\:250px {
    --size: 250px
}
.width\:var\(--size\) {
    width: var(--size)
}
.height\:var\(--size\) {
    height: var(--size)
}
.min-width\:var\(--size\) {
    min-width: var(--size)
}
.min-height\:var\(--size\) {
    min-height: var(--size)
}
.max-width\:var\(--size\) {
    max-width: var(--size)
}
.max-height\:var\(--size\) {
    max-height: var(--size)
}
.border\:2px_dashed_var\(--green-color\) {
    border: 2px dashed var(--green-color)
}
.border-radius\:100\% {
    border-radius: 100%
}
.min-width\:calc\(100\%_\+_20px\) {
    min-width: calc(100% + 20px)
}
.transform\:rotate\(0deg\) {
    transform: rotate(0deg)
}
.width\:20px {
    width: 20px
}
.height\:100\% {
    height: 100%
}
.transform\:rotate\(30deg\) {
    transform: rotate(30deg)
}
.transform\:rotate\(60deg\) {
    transform: rotate(60deg)
}
.transform\:rotate\(90deg\) {
    transform: rotate(90deg)
}
.transform\:rotate\(120deg\) {
    transform: rotate(120deg)
}
.transform\:rotate\(150deg\) {
    transform: rotate(150deg)
}
.width\:calc\(50\%_-_1px\) {
    width: calc(50% - 1px)
}
.justify-content\:flex-end {
    justify-content: flex-end
}
.font-size\:50px {
    font-size: 50px
}
.text-transform\:uppercase {
    text-transform: uppercase
}
.animation\:hexagon-item_linear_infinite_2s {
    animation: hexagon-item linear infinite 2s
}
.after\:content\:attr\(data-content\):after {
    content: attr(data-content)
}
.hover\:background\:\#fff:hover {
    background: #fff
}
.hover\:color\:\#000:hover {
    color: #000
}
.hover\:border\:1px_solid_--green-color:hover {
    border: var(1px solid --green-color)
}
.transition\:all_0\.3s {
    transition: all 0.3s
}
.cursor\:pointer {
    cursor: pointer
}
.font-family\:Anton {
    font-family: Anton
}
.font-weight\:500 {
    font-weight: 500
}
.width\:fit-content {
    width: fit-content
}
.margin-top\:20px {
    margin-top: 20px
}
.background\:--green-color {
    background: var(--green-color)
}
.padding\:10px {
    padding: 10px
}
.border-radius\:3px {
    border-radius: 3px
}
.border\:1px_solid_var\(--green-color\) {
    border: 1px solid var(--green-color)
}
.position\:fixed {
    position: fixed
}
.width\:50px {
    width: 50px
}
.bottom\:0 {
    bottom: 0
}
.width\:5px {
    width: 5px
}
.height\:100px {
    height: 100px
}
.height\:40px {
    height: 40px
}
.background\:\#000 {
    background: #000
}
.top\:40px {
    top: 40px
}
.height\:200px {
    height: 200px
}
.color\:\#fff {
    color: #fff
}
.font-size\:30px {
    font-size: 30px
}