.margin\:0 {
    margin: 0
}
.font-family\:Anton\,_sans-serif {
    font-family: Anton, sans-serif
}
.font-weight\:400 {
    font-weight: 400
}
.background\:\#eee {
    background: #eee
}
.max-width\:1024px {
    max-width: 1024px
}
.margin\:0_auto {
    margin: 0 auto
}
.width\:100\% {
    width: 100%
}
.height\:10px {
    height: 10px
}
.height\:100vh {
    height: 100vh
}
.display\:flex {
    display: flex
}
.flex-direction\:row {
    flex-direction: row
}
.gap\:2px {
    gap: 2px
}
.box-sizing\:border-box {
    box-sizing: border-box
}
.flex-wrap\:wrap {
    flex-wrap: wrap
}
.color\:--text-color {
    color: var(--text-color)
}
.order\:2 {
    order: 2
}
@media (min-width:768px) {
    .md\:width\:calc\(50\%_-_1px\) {
        width: calc(50% - 1px)
    }
}
@media (min-width:768px) {
    .md\:height\:100\% {
        height: 100%
    }
}
.justify-content\:center {
    justify-content: center
}
.padding\:20px {
    padding: 20px
}
.flex-direction\:column {
    flex-direction: column
}
.background\:\#fff {
    background: #fff
}
.transform\:translateX\(-100\) {
    transform: translateX(-100)
}
.order\:1 {
    order: 1
}
@media (min-width:768px) {
    .md\:order\:3 {
        order: 3
    }
}
.position\:relative {
    position: relative
}
.position\:absolute {
    position: absolute
}
.top\:0 {
    top: 0
}
.right\:0 {
    right: 0
}
.left\:0 {
    left: 0
}
.text-align\:center {
    text-align: center
}
.font-size\:40px {
    font-size: 40px
}
.font-weight\:bold {
    font-weight: bold
}
.color\:--green-color {
    color: var(--green-color)
}
.height\:2px {
    height: 2px
}
.top\:50\% {
    top: 50%
}
.align-items\:center {
    align-items: center
}
.width\:100px {
    width: 100px
}
.gap\:10px {
    gap: 10px
}
.width\:10px {
    width: 10px
}
.background\:var\(--green-color\) {
    background: var(--green-color)
}
.border-radius\:100px {
    border-radius: 100px
}
.animation-delay\:0\.6s {
    animation-delay: 0.6s
}
.animation\:_scale_0\.8s_linear_infinite {
    animation:  scale 0.8s linear infinite
}
.opacity\:0\.5 {
    opacity: 0.5
}
.animation\:_spin_8s_linear_infinite {
    animation:  spin 8s linear infinite
}
.--size\:250px {
    --size: 250px
}
.width\:var\(--size\) {
    width: var(--size)
}
.height\:var\(--size\) {
    height: var(--size)
}
.min-width\:var\(--size\) {
    min-width: var(--size)
}
.min-height\:var\(--size\) {
    min-height: var(--size)
}
.max-width\:var\(--size\) {
    max-width: var(--size)
}
.max-height\:var\(--size\) {
    max-height: var(--size)
}
.border\:2px_dashed_var\(--green-color\) {
    border: 2px dashed var(--green-color)
}
.border-radius\:100\% {
    border-radius: 100%
}
.min-width\:calc\(100\%_\+_20px\) {
    min-width: calc(100% + 20px)
}
.transform\:rotate\(0deg\) {
    transform: rotate(0deg)
}
.width\:20px {
    width: 20px
}
.height\:100\% {
    height: 100%
}
.transform\:rotate\(30deg\) {
    transform: rotate(30deg)
}
.transform\:rotate\(60deg\) {
    transform: rotate(60deg)
}
.transform\:rotate\(90deg\) {
    transform: rotate(90deg)
}
.transform\:rotate\(120deg\) {
    transform: rotate(120deg)
}
.transform\:rotate\(150deg\) {
    transform: rotate(150deg)
}
.width\:calc\(50\%_-_1px\) {
    width: calc(50% - 1px)
}
.justify-content\:flex-end {
    justify-content: flex-end
}
.font-size\:50px {
    font-size: 50px
}
.text-transform\:uppercase {
    text-transform: uppercase
}
.animation\:hexagon-item_linear_infinite_2s {
    animation: hexagon-item linear infinite 2s
}
.after\:content\:attr\(data-content\):after {
    content: attr(data-content)
}
.hover\:background\:\#fff:hover {
    background: #fff
}
.hover\:color\:\#000:hover {
    color: #000
}
.hover\:border\:1px_solid_--green-color:hover {
    border: var(1px solid --green-color)
}
.transition\:all_0\.3s {
    transition: all 0.3s
}
.cursor\:pointer {
    cursor: pointer
}
.font-family\:Anton {
    font-family: Anton
}
.font-weight\:500 {
    font-weight: 500
}
.width\:fit-content {
    width: fit-content
}
.margin-top\:20px {
    margin-top: 20px
}
.background\:--green-color {
    background: var(--green-color)
}
.padding\:10px {
    padding: 10px
}
.border-radius\:3px {
    border-radius: 3px
}
.border\:1px_solid_var\(--green-color\) {
    border: 1px solid var(--green-color)
}
.position\:fixed {
    position: fixed
}
.width\:50px {
    width: 50px
}
.bottom\:0 {
    bottom: 0
}
.width\:5px {
    width: 5px
}
.height\:100px {
    height: 100px
}
.height\:40px {
    height: 40px
}
.background\:\#000 {
    background: #000
}
.top\:40px {
    top: 40px
}
.height\:200px {
    height: 200px
}
.color\:\#fff {
    color: #fff
}
.font-size\:30px {
    font-size: 30px
}
.m\:\[0\] {
    margin: 0
}
.position\:\[fixed\] {
    position: fixed
}
.top\:\[0\] {
    top: 0
}
.left\:\[0\] {
    left: 0
}
.right\:\[0\] {
    right: 0
}
.bottom\:\[0\] {
    bottom: 0
}
.animation\:\[ease-in-out\] {
    animation: ease-in-out
}
.after\:transition\:\[all_0\.3s_ease-in-out\]:after {
    transition: all 0.3s ease-in-out
}
.w\:\[100\%\] {
    width: 100%
}
.h\:\[100vh\] {
    height: 100vh
}
.display\:\[flex\] {
    display: flex
}
.justify-content\:\[center\] {
    justify-content: center
}
.align-items\:\[center\] {
    align-items: center
}
.position\:\[absolute\] {
    position: absolute
}
.transform\:\[translateY\(0\)\] {
    transform: translateY(0)
}
.scroll-1.scroll-1\.transform\:\[translateY\(-100vh\)\] {
    transform: translateY(-100vh)
}
.transition\:\[all_0\.3s_ease-in-out\] {
    transition: all 0.3s ease-in-out
}
.transform\:\[translateY\(100vh\)\] {
    transform: translateY(100vh)
}
.scroll-1.scroll-1\.transform\:\[translateY\(0\)\] {
    transform: translateY(0)
}
.scroll-2.scroll-2\.transform\:\[translateY\(-100vh\)\] {
    transform: translateY(-100vh)
}
.scroll-2.scroll-2\.transform\:\[translateY\(0\)\] {
    transform: translateY(0)
}
.scroll-3.scroll-3\.transform\:\[translateY\(-100vh\)\] {
    transform: translateY(-100vh)
}
.scroll-3.scroll-3\.transform\:\[translateY\(0\)\] {
    transform: translateY(0)
}
.scroll-4.scroll-4\.transform\:\[translateY\(-100vh\)\] {
    transform: translateY(-100vh)
}
.scroll-4.scroll-4\.transform\:\[translateY\(0\)\] {
    transform: translateY(0)
}
.scroll-5.scroll-5\.transform\:\[translateY\(-100vh\)\] {
    transform: translateY(-100vh)
}
.scroll-5.scroll-5\.transform\:\[translateY\(0\)\] {
    transform: translateY(0)
}
.scroll-6.scroll-6\.transform\:\[translateY\(-100vh\)\] {
    transform: translateY(-100vh)
}
.scroll-6.scroll-6\.transform\:\[translateY\(0\)\] {
    transform: translateY(0)
}
.scroll-7.scroll-7\.transform\:\[translateY\(-100vh\)\] {
    transform: translateY(-100vh)
}
.scroll-7.scroll-7\.transform\:\[translateY\(0\)\] {
    transform: translateY(0)
}
.scroll-8.scroll-8\.transform\:\[translateY\(-100vh\)\] {
    transform: translateY(-100vh)
}
.scroll-8.scroll-8\.transform\:\[translateY\(0\)\] {
    transform: translateY(0)
}
.scroll-9.scroll-9\.transform\:\[translateY\(-100vh\)\] {
    transform: translateY(-100vh)
}
.scroll-9.scroll-9\.transform\:\[translateY\(0\)\] {
    transform: translateY(0)
}
.scroll-10.scroll-10\.transform\:\[translateY\(-100vh\)\] {
    transform: translateY(-100vh)
}
.width\:\[100vw\] {
    width: 100vw
}
.height\:\[100vh\] {
    height: 100vh
}
.font-family\:\[Dosis\] {
    font-family: Dosis
}
.width\:\[100\%\] {
    width: 100%
}
.height\:\[100\% {
    height: 100%
}
.position\:\[relative\] {
    position: relative
}
.overflow\:\[hidden\] {
    overflow: hidden
}
.background\:\[\#ee3528\] {
    background: #ee3528
}
.height\:\[100\%\] {
    height: 100%
}
.z-index\:\[1\] {
    z-index: 1
}
.width\:\[40\%\] {
    width: 40%
}
.padding\:\[60px\] {
    padding: 60px
}
.padding-top\:\[200px\] {
    padding-top: 200px
}
.color\:\[\#fff\] {
    color: #fff
}
.z-index\:\[2\] {
    z-index: 2
}
.font-size\:\[80px\] {
    font-size: 80px
}
.text-transform\:\[uppercase\] {
    text-transform: uppercase
}
.font-weight\:\[800\] {
    font-weight: 800
}
.font-size\:\[20px\] {
    font-size: 20px
}
.font-size\:\[16px\] {
    font-size: 16px
}
.display\:\[block\] {
    display: block
}
.width\:\[68\%\] {
    width: 68%
}
.margin\:\[auto\] {
    margin: auto
}
.width\:\[50\%\] {
    width: 50%
}
.z-index\:\[3\] {
    z-index: 3
}
.justify-content\:\[flex-end\] {
    justify-content: flex-end
}
.padding-right\:\[100px\] {
    padding-right: 100px
}
.height\:\[200px\] {
    height: 200px
}
.width\:\[400px\] {
    width: 400px
}
.background\:\[rgba\(0\,0\,0\,0\.5\)\] {
    background: rgba(0,0,0,0.5)
}
.top\:\[100\%\] {
    top: 100%
}
.max-width\:\[500px\] {
    max-width: 500px
}
.max-width\:\[1000px\] {
    max-width: 1000px
}
.flex-direction\:\[row\] {
    flex-direction: row
}
.gap\:\[20px\] {
    gap: 20px
}
.width\:\[calc\(100\%_\/_3_-_10px\)\] {
    width: calc(100% / 3 - 10px)
}
.height\:\[fit-content\] {
    height: fit-content
}
.border\:\[2px_solid_rgba\(255\,255\,255\,0\.5\)\] {
    border: 2px solid rgba(255,255,255,0.5)
}
.aspect-ratio\:\[16\/9\] {
    aspect-ratio: 16/9
}
.object-fit\:\[cover\] {
    object-fit: cover
}
.object-position\:\[right_top\] {
    object-position: right top
}
.width\:\[fit-content\] {
    width: fit-content
}
.border-bottom\:\[2px_solid_\#fff\] {
    border-bottom: 2px solid #fff
}
.margin-top\:\[10px\] {
    margin-top: 10px
}
.text-shadow\:\[0_0_10px_rgba\(0\,0\,0\,0\.5\)\] {
    text-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.font-size\:\[24px\] {
    font-size: 24px
}
.text-align\:\[center\] {
    text-align: center
}
@media (min-width:768px) {
    .md\:background\:red {
        background: red
    }
}
.color\:white {
    color: white
}
.border\:1px_solid_blue {
    border: 1px solid blue
}
.margin\:\[0\] {
    margin: 0
}
.font-weight\:\[bold\] {
    font-weight: bold
}
.font-size\:\[100px\] {
    font-size: 100px
}
.color\:\[\#fce179\] {
    color: #fce179
}
.font-family\:vw-text\,sans-serif {
    font-family: vw-text,sans-serif
}
.active.active\.overflow\:hidden {
    overflow: hidden
}
.border-bottom\:_1px_solid_\#dfe4e8 {
    border-bottom:  1px solid #dfe4e8
}
.position\:sticky {
    position: sticky
}
.top\:-36px {
    top: -36px
}
.z-index\:999 {
    z-index: 999
}
.background\:\#001E50 {
    background: #001E50
}
.font-size\:12px {
    font-size: 12px
}
.text-align\:right {
    text-align: right
}
.max-width\:1280px {
    max-width: 1280px
}
.padding\:10px_20px {
    padding: 10px 20px
}
.height\:36px {
    height: 36px
}
.margin\:auto {
    margin: auto
}
.gap\:20px {
    gap: 20px
}
.height\:90px {
    height: 90px
}
@media (max-width:768px) {
    .\@media\(max-width\:768px\)\:height\:80px {
        height: 80px
    }
}
.display\:none {
    display: none
}
@media (min-width:768px) {
    .\@media\(min-width\:768px\)\:display\:flex {
        display: flex
    }
}
.gap\:50px {
    gap: 50px
}
.padding\:0_50px {
    padding: 0 50px
}
@media (min-width:768px) {
    .\@media\(min-width\:768px\)\:display\:none {
        display: none
    }
}
.width\:30px {
    width: 30px
}
.height\:30px {
    height: 30px
}
.margin-left\:auto {
    margin-left: auto
}
.justify-content\:space-around {
    justify-content: space-around
}
.height\:3px {
    height: 3px
}
.background\:--color-primary {
    background: var(--color-primary)
}
.transform\:translateX\(-100vw\) {
    transform: translateX(-100vw)
}
.active.active\.transform\:translateX\(0\) {
    transform: translateX(0)
}
.transition\:transform_\.3s_cubic-bezier\(\.645\,\.045\,\.355\,1\) {
    transition: transform .3s cubic-bezier(.645,.045,.355,1)
}
.z-index\:9999 {
    z-index: 9999
}
.font-size\:14px {
    font-size: 14px
}
.padding\:10px_15px {
    padding: 10px 15px
}
.color\:--color-primary {
    color: var(--color-primary)
}
.aspect-ratio\:1 {
    aspect-ratio: 1
}
.transform\:rotate\(-45deg\) {
    transform: rotate(-45deg)
}
.transform\:rotate\(45deg\) {
    transform: rotate(45deg)
}
.transition\:background\.3s_cubic-bezier\(\.645\,\.045\,\.355\,1\) {
    transition: background.3s cubic-bezier(.645,.045,.355,1)
}
.z-index\:-1 {
    z-index: -1
}
.active.active\.z-index\:9998 {
    z-index: 9998
}
.inset\:0 {
    inset: 0
}
.background\:rgba\(0\,0\,0\,0\) {
    background: rgba(0,0,0,0)
}
.active.active\.background\:rgba\(0\,0\,0\,0\.8\) {
    background: rgba(0,0,0,0.8)
}
@media (max-width:768px) {
    .\@media\(max-width\:768px\)\:font-size\:32px {
        font-size: 32px
    }
}
.font-size\:18px {
    font-size: 18px
}
.line-height\:1\.8 {
    line-height: 1.8
}
.height\:5px {
    height: 5px
}
.background\:rgba\(0\,0\,0\,0\.4\) {
    background: rgba(0,0,0,0.4)
}
.height\:60px {
    height: 60px
}
.font-size\:16px {
    font-size: 16px
}
.max-width\:100\% {
    max-width: 100%
}
.overflow\:auto {
    overflow: auto
}
.padding-bottom\:30px {
    padding-bottom: 30px
}
.padding\:10px_0 {
    padding: 10px 0
}
.active.active\.border-bottom\:1px_solid_var\(--color-primary\) {
    border-bottom: 1px solid var(--color-primary)
}
.active.active\.color\:--color-primary {
    color: var(--color-primary)
}
@media (max-width:767px) {
    .\@media\(max-width\:767px\)\:display\:block {
        display: block
    }
}
.padding\:0_80px_50px {
    padding: 0 80px 50px
}
@media (min-width:768px) {
    .\@media\(min-width\:768px\)\:display\:block {
        display: block
    }
}
.padding\:0_80px_40px_80px {
    padding: 0 80px 40px 80px
}
.padding\:30px {
    padding: 30px
}
.width\:50\% {
    width: 50%
}
.font-size\:17px {
    font-size: 17px
}
.line-height\:1\.9 {
    line-height: 1.9
}
.padding\:0_20px {
    padding: 0 20px
}
.opacity\:0\.8 {
    opacity: 0.8
}
.height\:fit-content {
    height: fit-content
}
.border-bottom\:1px_solid_\#eee {
    border-bottom: 1px solid #eee
}
@media (max-width:768px) {
    .\@media\(max-width\:768px\)\:font-size\:24px {
        font-size: 24px
    }
}
.font-weight\:100 {
    font-weight: 100
}
.color\:\#000 {
    color: #000
}
.font-size\:13px {
    font-size: 13px
}
.padding-top\:20px {
    padding-top: 20px
}
.padding\:0_80px_50px_80px {
    padding: 0 80px 50px 80px
}
.padding\:40px {
    padding: 40px
}
.line-height\:1\.6 {
    line-height: 1.6
}
.object-fit\:cover {
    object-fit: cover
}
.margin\:60px_0 {
    margin: 60px 0
}
.padding\:60px {
    padding: 60px
}
.background\:_radial-gradient\(circle_at_0\%_0\%\,\#00437a_0\%\,\#001e50_100\%\) {
    background:  radial-gradient(circle at 0% 0%,#00437a 0%,#001e50 100%)
}
.border-top\:2px_solid_var\(--color-primary\) {
    border-top: 2px solid var(--color-primary)
}
.padding\:8px_0 {
    padding: 8px 0
}
.margin-bottom\:100px {
    margin-bottom: 100px
}
.margin\:0_5px {
    margin: 0 5px
}
.display\:inline-block {
    display: inline-block
}
.padding\:0_10px {
    padding: 0 10px
}
.z\:1000 {
    z-index: 1000
}
.background\:rgba\(0\,_0\,_0\,_0\.5\) {
    background: rgba(0, 0, 0, 0.5)
}
.width\:500px {
    width: 500px
}
.height\:500px {
    height: 500px
}
.font-size\:20px {
    font-size: 20px
}
.padding-bottom\:10px {
    padding-bottom: 10px
}
.display\:inline-flex {
    display: inline-flex
}
.gap\:5px {
    gap: 5px
}
.transition\:all_1s {
    transition: all 1s
}
.height\:26px {
    height: 26px
}
.left\:-1px {
    left: -1px
}
.min-width\:32px {
    min-width: 32px
}
.clip-path\:polygon\(50\%_0\%\,100\%_25\%\,100\%_75\%\,50\%_100\%\,0\%_75\%\,0\%_25\%\) {
    clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%)
}
.before\:position\:absolute:before {
    position: absolute
}
.before\:inset\:0:before {
    inset: 0
}
.before\:background\:--green-color:before {
    background: var(--green-color)
}
.before\:content\:attr\(data-content\):before {
    content: attr(data-content)
}
.before\:display\:block:before {
    display: block
}
.before\:clip-path\:inherit:before {
    clip-path: inherit
}
.after\:position\:absolute:after {
    position: absolute
}
.after\:inset\:1px:after {
    inset: 1px
}
.after\:background\:inherit:after {
    background: inherit
}
.after\:display\:block:after {
    display: block
}
.after\:clip-path\:inherit:after {
    clip-path: inherit
}
.gap\:0 {
    gap: 0
}
.margin-left\:15px {
    margin-left: 15px
}