.position\:\[fixed\] {
    position: fixed
}
.width\:\[100vw\] {
    width: 100vw
}
.height\:\[100vh\] {
    height: 100vh
}
.font-family\:\[Dosis\] {
    font-family: Dosis
}
.position\:\[absolute\] {
    position: absolute
}
.width\:\[100\%\] {
    width: 100%
}
.height\:\[100\% {
    height: 100%
}
.top\:\[0\] {
    top: 0
}
.display\:\[flex\] {
    display: flex
}
.position\:\[relative\] {
    position: relative
}
.overflow\:\[hidden\] {
    overflow: hidden
}
.background\:\[\#ee3528\] {
    background: #ee3528
}
.height\:\[100\%\] {
    height: 100%
}
.z-index\:\[1\] {
    z-index: 1
}
.width\:\[40\%\] {
    width: 40%
}
.padding\:\[60px\] {
    padding: 60px
}
.padding-top\:\[200px\] {
    padding-top: 200px
}
.color\:\[\#fff\] {
    color: #fff
}
.z-index\:\[2\] {
    z-index: 2
}
.font-size\:\[80px\] {
    font-size: 80px
}
.text-transform\:\[uppercase\] {
    text-transform: uppercase
}
.font-weight\:\[800\] {
    font-weight: 800
}
.font-size\:\[20px\] {
    font-size: 20px
}
.font-size\:\[16px\] {
    font-size: 16px
}
.display\:\[block\] {
    display: block
}
.left\:\[0\] {
    left: 0
}
.width\:\[68\%\] {
    width: 68%
}
.margin\:\[auto\] {
    margin: auto
}
.width\:\[50\%\] {
    width: 50%
}
.z-index\:\[3\] {
    z-index: 3
}
.right\:\[0\] {
    right: 0
}
.justify-content\:\[flex-end\] {
    justify-content: flex-end
}
.align-items\:\[center\] {
    align-items: center
}
.padding-right\:\[100px\] {
    padding-right: 100px
}
.height\:\[200px\] {
    height: 200px
}
.width\:\[400px\] {
    width: 400px
}
.background\:\[rgba\(0\,0\,0\,0\.5\)\] {
    background: rgba(0,0,0,0.5)
}
.top\:\[100\%\] {
    top: 100%
}
.max-width\:\[500px\] {
    max-width: 500px
}
.max-width\:\[1000px\] {
    max-width: 1000px
}
.flex-direction\:\[row\] {
    flex-direction: row
}
.gap\:\[20px\] {
    gap: 20px
}
.justify-content\:\[center\] {
    justify-content: center
}
.width\:\[calc\(100\%_\/_3_-_10px\)\] {
    width: calc(100% / 3 - 10px)
}
.height\:\[fit-content\] {
    height: fit-content
}
.border\:\[2px_solid_rgba\(255\,255\,255\,0\.5\)\] {
    border: 2px solid rgba(255,255,255,0.5)
}
.aspect-ratio\:\[16\/9\] {
    aspect-ratio: 16/9
}
.object-fit\:\[cover\] {
    object-fit: cover
}
.object-position\:\[right_top\] {
    object-position: right top
}
.width\:\[fit-content\] {
    width: fit-content
}
.border-bottom\:\[2px_solid_\#fff\] {
    border-bottom: 2px solid #fff
}
.margin-top\:\[10px\] {
    margin-top: 10px
}
.text-shadow\:\[0_0_10px_rgba\(0\,0\,0\,0\.5\)\] {
    text-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.font-size\:\[24px\] {
    font-size: 24px
}
.text-align\:\[center\] {
    text-align: center
}