.margin\:0 {
    margin: 0
}
.font-family\:Montserrat\,sans-serif {
    font-family: Montserrat,sans-serif
}
.background\:\#00437A {
    background: #00437A
}
.height\:62px {
    height: 62px
}
.display\:flex {
    display: flex
}
.flex-direction\:row {
    flex-direction: row
}
.justify-content\:space-between {
    justify-content: space-between
}
.max-width\:1280px {
    max-width: 1280px
}
.margin\:auto {
    margin: auto
}
.color\:\#fff {
    color: #fff
}
.list-style-type\:none {
    list-style-type: none
}
.gap\:10px {
    gap: 10px
}
.justify-content\:center {
    justify-content: center
}
.align-items\:center {
    align-items: center
}
.text-transform\:uppercase {
    text-transform: uppercase
}
.width\:50px {
    width: 50px
}
.height\:50px {
    height: 50px
}
.height\:calc\(100vh_-_62px\) {
    height: calc(100vh - 62px)
}
.width\:100\% {
    width: 100%
}
.height\:100\% {
    height: 100%
}
.object-fit\:cover {
    object-fit: cover
}
.object-position\:bottom {
    object-position: bottom
}
.padding\:40px {
    padding: 40px
}
.background\:\#2B2B2B {
    background: #2B2B2B
}
.justify-content\:space-around {
    justify-content: space-around
}
.padding\:20px_30px {
    padding: 20px 30px
}
.background\:--color-primary {
    background: var(--color-primary)
}
.text-decoration\:none {
    text-decoration: none
}
.padding\:10px {
    padding: 10px
}
.font-size\:20px {
    font-size: 20px
}
.font-weight\:normal {
    font-weight: normal
}
.text-align\:center {
    text-align: center
}
.font-size\:30px {
    font-size: 30px
}
.font-weight\:700 {
    font-weight: 700
}
.color\:--color-primary {
    color: var(--color-primary)
}
.flex-wrap\:wrap {
    flex-wrap: wrap
}
.gap\:30px {
    gap: 30px
}
.width\:calc\(100\%_\/_4_-_30px\) {
    width: calc(100% / 4 - 30px)
}
.cursor\:pointer {
    cursor: pointer
}
.font-size\:18px {
    font-size: 18px
}
.font-size\:17px {
    font-size: 17px
}
.color\:\#D53838 {
    color: #D53838
}
.font-weight\:900 {
    font-weight: 900
}
.background\:\#424242 {
    background: #424242
}
.padding\:30px_0 {
    padding: 30px 0
}
.font-size\:35px {
    font-size: 35px
}
.margin\:10px_0_25px {
    margin: 10px 0 25px
}
.width\:calc\(100\%_\/3_-_30px\) {
    width: calc(100% /3 - 30px)
}
.background\:\#fff {
    background: #fff
}
.height\:fit-content {
    height: fit-content
}
.display\:block {
    display: block
}
.padding\:20px_10px {
    padding: 20px 10px
}
.flex-direction\:column {
    flex-direction: column
}
.font-size\:26px {
    font-size: 26px
}
.color\:\#3333339e {
    color: #3333339e
}
.font-size\:14px {
    font-size: 14px
}
.width\:fit-content {
    width: fit-content
}
.font-weight\:200 {
    font-weight: 200
}
.padding\:10px_20px {
    padding: 10px 20px
}
.border-radius\:2px {
    border-radius: 2px
}