.margin\:0 {
    margin: 0
}
.font-family\:Montserrat\,sans-serif {
    font-family: Montserrat,sans-serif
}
.active.active\.overflow\:hidden {
    overflow: hidden
}
.background\:\#fff {
    background: #fff
}
.border-bottom\:_1px_solid_\#dfe4e8 {
    border-bottom:  1px solid #dfe4e8
}
.position\:sticky {
    position: sticky
}
.top\:0 {
    top: 0
}
.z-index\:999 {
    z-index: 999
}
.background\:\#001E50 {
    background: #001E50
}
.font-size\:12px {
    font-size: 12px
}
.color\:\#fff {
    color: #fff
}
.text-align\:right {
    text-align: right
}
.max-width\:1280px {
    max-width: 1280px
}
.padding\:10px_20px {
    padding: 10px 20px
}
.margin\:auto {
    margin: auto
}
.gap\:20px {
    gap: 20px
}
.display\:flex {
    display: flex
}
.justify-content\:flex-end {
    justify-content: flex-end
}
.height\:90px {
    height: 90px
}
.padding\:20px {
    padding: 20px
}
.box-sizing\:border-box {
    box-sizing: border-box
}
.height\:100\% {
    height: 100%
}
.display\:none {
    display: none
}
@media (min-width:768px) {
    .\@media\(min-width\:768px\)\:display\:flex {
        display: flex
    }
}
.flex-direction\:row {
    flex-direction: row
}
.justify-content\:center {
    justify-content: center
}
.align-items\:center {
    align-items: center
}
.gap\:50px {
    gap: 50px
}
.padding\:0_50px {
    padding: 0 50px
}
@media (min-width:768px) {
    .\@media\(min-width\:768px\)\:display\:none {
        display: none
    }
}
.cursor\:pointer {
    cursor: pointer
}
.width\:40px {
    width: 40px
}
.height\:40px {
    height: 40px
}
.margin-left\:auto {
    margin-left: auto
}
.flex-direction\:column {
    flex-direction: column
}
.justify-content\:space-around {
    justify-content: space-around
}
.height\:4px {
    height: 4px
}
.background\:--color-primary {
    background: var(--color-primary)
}
.active.active\.display\:block {
    display: block
}
.position\:fixed {
    position: fixed
}
.left\:0 {
    left: 0
}
.right\:0 {
    right: 0
}
.height\:100vh {
    height: 100vh
}
.z-index\:9999 {
    z-index: 9999
}
.text-transform\:uppercase {
    text-transform: uppercase
}
.font-size\:14px {
    font-size: 14px
}
.border-bottom\:1px_solid_\#ddd {
    border-bottom: 1px solid #ddd
}
.padding\:10px_15px {
    padding: 10px 15px
}
.color\:--color-primary {
    color: var(--color-primary)
}
.position\:relative {
    position: relative
}
.aspect-ratio\:1 {
    aspect-ratio: 1
}
.position\:absolute {
    position: absolute
}
.width\:20px {
    width: 20px
}
.height\:2px {
    height: 2px
}
.transform\:rotate\(-45deg\) {
    transform: rotate(-45deg)
}
.transform\:rotate\(45deg\) {
    transform: rotate(45deg)
}
.border-bottom\:1px_solid_\#eee {
    border-bottom: 1px solid #eee
}
.height\:fit-content {
    height: fit-content
}
.font-size\:40px {
    font-size: 40px
}
.font-weight\:100 {
    font-weight: 100
}
.color\:\#000 {
    color: #000
}
.font-size\:13px {
    font-size: 13px
}
.padding-top\:20px {
    padding-top: 20px
}
.height\:10px {
    height: 10px
}
.background\:_radial-gradient\(circle_at_0\%_0\%\,\#00437a_0\%\,\#001e50_100\%\) {
    background:  radial-gradient(circle at 0% 0%,#00437a 0%,#001e50 100%)
}
.height\:30px {
    height: 30px
}
.width\:100\% {
    width: 100%
}
.font-size\:30px {
    font-size: 30px
}
.text-align\:center {
    text-align: center
}
.font-size\:16px {
    font-size: 16px
}
.width\:fit-content {
    width: fit-content
}
.padding-bottom\:30px {
    padding-bottom: 30px
}
.padding\:10px_0 {
    padding: 10px 0
}
.active.active\.border-bottom\:1px_solid_var\(--color-primary\) {
    border-bottom: 1px solid var(--color-primary)
}
.active.active\.color\:--color-primary {
    color: var(--color-primary)
}
@media (max-width:767px) {
    .\@media\(max-width\:767px\)\:display\:block {
        display: block
    }
}
.padding\:0_80px {
    padding: 0 80px
}
@media (min-width:768px) {
    .\@media\(min-width\:768px\)\:display\:block {
        display: block
    }
}
.padding\:40px {
    padding: 40px
}
.line-height\:1\.6 {
    line-height: 1.6
}
.font-weight\:bold {
    font-weight: bold
}
.object-fit\:cover {
    object-fit: cover
}
.margin\:60px_0 {
    margin: 60px 0
}
.padding\:60px {
    padding: 60px
}
.width\:50\% {
    width: 50%
}