@font-face {
    font-family: "Beaufort";
    src: local(""), url("../fonts/amstel/Beaufort-Bold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    src: local(""), url("../fonts/amstel/montserrat-v15-latin-500.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;
    --color-red: #D6001C;
    --font-size-title: 65px;
}

.ams-header {
    width: 100%;
    height: 100px;
    background-color: var(--color-red);
}

.ams-color-red {
    color: var(--color-red);
}

.ams-border {
    height: 8px;
    width: 100%;
    content: '';
    display: block;
    background: linear-gradient(90deg, #ECD988, #BE8F39, #ECD988, #BE8F39, #ECD988);
}

.ams-brand-hero {
    height: 100vh;
    position: relative;
    padding: 20px;

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-position: top;
            object-fit: cover;
        }
    }

    &__content {
        text-align: center;

    }

    &__title {
        all: unset;
        font-family: "Beaufort", sans-serif;
        font-size: var(--font-size-title);
        font-weight: 600;
        display: flex;
        flex-direction: column;
        line-height: calc(60/ 65);
    }

    &__decoration {
        height: 10px;
        margin: 30px auto;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            display: block;
            height: 100%;
        }
    }

    &__description {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        max-width: 560px;
        margin: 0 auto;
        line-height: 1.7;
        color: #595858;
    }
}

.ams-brand-story {
    &__content {
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }

    &__item {
        padding: 60px;
        display: flex;
        flex-direction: row;
        gap: 120px;

        @media screen and (max-width: 1200px) {
            flex-direction: column !important;
            padding: 40px 20px;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            .ams-brand-story__title {
                &:before {
                    display: none;
                }

                &:after {
                    display: block;
                }
            }
        }

        &:nth-child(odd) {
            .ams-brand-story__title {
                &:before {
                    display: block;
                }

                &:after {
                    display: none;
                }
            }
        }
    }


    &__about {
        flex: 1;
        width: 50%;

        @media screen and (max-width: 1200px) {
            width: 100%;
        }
    }

    &__image {
        flex: 1;
        width: 100%;

        &.only-sm-display {
            display: block;
        }

        &.only-md-display {
            display: none;
        }

        @media (min-width: 1200px) {
            width: 50%;

            &.only-sm-display {
                display: none;
            }

            &.only-md-display {
                display: block;
            }
        }


        img {
            display: block;
            width: 100%;
            height: auto;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 40px 60px -20px rgba(0, 0, 0, 0.15);
        }
    }

    @media screen and (max-width: 1200px) {
        text-align: center;
    }

    &__title {
        margin: 0;
        font-size: 72px;
        font-weight: 600;
        line-height: 1.2;
        position: relative;
        font-family: "Beaufort", sans-serif;
        font-size: 32px;
        text-align: center;
        padding: 32px 0;

        @media (min-width: 1200px) {
            text-align: left;
            font-size: 72px;
            margin: 0 0 10px;
            padding: 0;
        }

        &:before {
            content: '';
            height: 1px;
            width: 200px;
            position: absolute;
            background-color: #C8C9C7;
            top: 36px;
            right: 100%;
            z-index: -1;

            @media screen and (max-width: 1200px) {
                height: 46px;
                width: 1px;
                bottom: calc(100% + 10px);
                top: unset;
                right: 50%
            }
        }

        &:after {
            content: '';
            height: 1px;
            width: 200px;
            position: absolute;
            background-color: #C8C9C7;
            bottom: 36px;
            left: calc(100% - 100px);
            z-index: -1;

            @media screen and (max-width: 1200px) {
                height: 46px;
                width: 1px;
                bottom: calc(100% + 10px);
                top: unset;
                left: 50%
            }
        }
    }

    &__description {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        line-height: 1.7;
        color: #595858;
    }
}

.hero-slider-v3 {
    .slider__item {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0 auto;


        @media screen and (max-width: 768px) {
            flex-direction: column;
            height: 100%;
            text-align: center;
            justify-content: flex-start;

            .slider__item__decoration {
                justify-content: center;
            }
        }

        .is-force-sm-display & {
            @media screen and (max-width: 1200px) {
                flex-direction: column;
                height: 100%;
                text-align: center;
                justify-content: flex-start;

                .slider__item__decoration {
                    justify-content: center;
                }
            }
        }

        &__image {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            object-fit: cover;
            object-position: top;

            @media screen and (max-width: 768px) {
                position: relative;
                z-index: unset;
                height: 375px;
            }

            .is-force-sm-display & {
                @media screen and (max-width: 1200px) {
                    position: relative;
                    z-index: unset;
                    height: 375px;
                }
            }
        }

        &__wrapper {
            max-width: calc(1200px - 100px);
            margin: 0 auto;
            padding: 0 20px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            position: relative;

            @media screen and (max-width: 768px) {
                flex-direction: column;
                padding: 0;
                flex: 1;
            }

            @media screen and (max-width: 1200px) {
                box-sizing: border-box;
            }

            .is-force-sm-display & {
                @media screen and (max-width: 1200px) {
                    max-width: 100%;
                    flex-direction: column;
                    padding: 0;
                    flex: 1;
                }
            }
        }

        &__content {
            background-color: var(--color-red);
            padding: 48px;
            height: fit-content;
            box-sizing: border-box;
            width: calc(50% - 60px);

            @media screen and (max-width: 768px) {
                width: 100%;
                height: 100%;
                padding: 40px 20px;
            }

            .is-force-sm-display & {
                @media screen and (max-width: 1200px) {
                    width: 100%;
                    height: 100%;
                    padding: 40px 20px;
                }
            }
        }

        &__decoration {
            height: 10px;
            margin: 10px auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img {
                display: block;
                height: 100%;
            }
        }

        &__title {
            font-family: "Beaufort", sans-serif;
            font-size: 48px;
            font-weight: 600;
            line-height: 1.2;
            color: #fff;
            margin: 0;

            @media screen and (max-width: 768px) {
                font-size: 32px;
            }

            .is-force-sm-display & {
                @media screen and (max-width: 1200px) {
                    font-size: 32px;
                }
            }
        }

        &__description {
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            line-height: 1.7;
            color: #fff;
        }
    }
}

[data-component="slider"] {
    height: 756px;
}

// Pagination
.slider-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .slider-pagination-content {
        position: relative;
        bottom: 0;
        left: 0;
        height: 20px;
        width: fit-content;
        background-color: #fff;
        border-radius: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 12px;
        box-sizing: border-box;
        margin: 5px auto;

        .slider-pagination-item {
            width: 8px;
            height: 8px;
            background-color: #C8C9C7;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);
            scale: 0.6;

            &.slider-pagination-item-active {
                background-color: #D6001C;
                scale: 1;
            }

            &:hover {
                background-color: #D6001C;
                cursor: pointer;
                scale: 1;
            }
        }
    }
}

// Navigation
.slider-navigation {
    position: absolute;
    top: 22%;
    left: calc(100vw - 960px / 2);
    width: 120px;
    height: 120px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #fff;
    border: solid 1px #ECD988;
    padding: 20px;
    box-sizing: border-box;

    @media screen and (max-width: 1200px) {
        left: 0;
        right: 0;
        top: 100px;
        margin: 0 auto;
        width: 100%;
        height: fit-content;
        border: none;
        border-radius: 0;
    }

    @media screen and (max-width: 768px) {
        left: 0;
        right: 0;
        top: calc((375px - 48px) / 2);
        margin: 0 auto;
        width: 100%;
        height: fit-content;
        border: none;
        border-radius: 0;
    }


    .slider-navigation-button {
        all: unset;
        background-image: url('../images/amstel/slide-right.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 8px;
        cursor: pointer;
        rotate: 180deg;

        &.slider-navigation-button-prev {
            rotate: 0deg;
        }
    }
}

.text-and-media-block {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    padding: 60px;
    overflow: hidden;
    --child-width: 50%;
    --child-left: 50%;
    --media-position: absolute;
    --title-size: 72px;
    --title-before-display: block;
    --child-padding: 0 60px;
    --decorator-space-display: none;

    @media screen and (max-width: 1200px) {
        --child-width: 100%;
        --child-left: 0;
        --media-position: relative;
        --title-size: 32px;
        --title-before-display: none;
        --child-padding: 10px 20px;
        --decorator-space-display: block;
        padding: 0; 
        text-align: center;
    }

    &:before {
        content: '';
        width: 1px;
        height: 47px;
        background: #C8C9C7;
        display: block;
        margin: 10px auto;
        display: var(--decorator-space-display);

    }

    &:first-child:before {
        height: 96px;
        margin: 0 auto;
        display: var(--decorator-space-display);
        
    }

    &:last-child:after {
        content: '';
        width: 1px;
        height: 96px;
        background: #C8C9C7;
        display: block;
        margin: 0 auto;
        display: var(--decorator-space-display);
    }

    .block-title h3 {
        all: unset;
        background-color: #fff;
    }

    .block-title {
        color: var(--color-red);
        position: relative;
        font-family: "Beaufort", sans-serif;
        font-size: var(--title-size);
        font-weight: 600;
        line-height: 1.2;
        margin: 0;
        width: var(--child-width);

        &:before {
            content: '';
            height: 1px;
            width: var(--child-width);
            position: absolute;
            background-color: #C8C9C7;
            top: 36px;
            right: calc(100% - 30px);
            display: var(--title-before-display);
        }
    }

    .block-container {
        .scroller-desktop {
            width: var(--child-width);
            font-family: Montserrat, sans-serif;
            line-height: 1.7;

        }
    }

    .block-title,
    .scroller-desktop,
    .media-outline {
        padding: var(--child-padding);
        box-sizing: border-box;
    }

    .block-inner {
        position: relative;

        .block-inner-center {
            min-height: var(--image-height);
            font-size: 14px;
            color: #595858;
        }
    }

    .media-outline {
        width: var(--child-width);
        position: var(--media-position);
        left: var(--child-left);
        top: 0;

        img {
            display: block;
            width: 100%;
            box-shadow: 0 1px 3px #00000026, 0 40px 60px -20px #00000026;
        }
    }

    &.media-right {
        .block-title {
            &:before {
                bottom: 36px;
                top: unset;
                left: calc(var(--client-child-width) + 30px);
            }
        }

        .media-outline {
            left: unset;
            left: 0;
        }

        .scroller-desktop {
            position: relative;
            left: var(--child-left);

        }

        .block-title {
            position: relative;
            left: var(--child-left);
        }
    }
}