@use 'variables';
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css";

body {
  margin: 0;
  padding: 0;
}

.es-header {
  display: block;
  height: 100px;
  width: 100%;
  background-color: #fff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  box-sizing: border-box;
  background-color: green;
}

.es-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.es-container-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.es-word-cards {
  display: flex;
  gap: 5px;
  flex-direction: column;

  .es-word-card {
    font-size: 16px;
    background-color: #fafafa;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;

    .es-word-card-stt {
      font-size: 14px;
      font-weight: bold;
      width: 20px;
      text-align: center;
      opacity: 0.5;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .es-word-card-content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      flex: 1;
      cursor: pointer;

      .es-word-card-title {
        font-weight: bold;
      }

      .es-word-card-meaning {
        font-size: 14px;
      }
    }

    .es-word-card-actions {
      display: flex;
      flex-direction: row;
      gap: 10px;
      height: fit-content;

      .edit-button {
        color: #007bff;

        &:hover,
        &:focus {
          color: #fff;
        }
      }

      .delete-button {
        color: #dc3545;

        &:hover,
        &:focus {
          color: #fff;
        }
      }
    }
  }
}

.es-word-card-checkbox {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.es-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #666;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 4px;
  box-sizing: border-box;

  &.is-checked {
    border-color: #198754;
  }
}

.es-checkbox-checked {
  width: 100%;
  height: 100%;
  background-color: #198754;
  border-radius: 2px;
}