@use "variables";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css";
@import "es-animation";

body {
  margin: 0;
  padding: 0;
  font-size: 11px;

  @media screen and (max-width: 768px) {
    --gap: 7px;
  }

  .button-top {
    font-size: 11px;
  }

  @media screen and (min-width: 768px) {
    --gap: 10px;
  }
}

.es-header {
  display: block;
  height: 100px;
  width: 100%;
  background-color: #fff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: var(--gap);
  box-sizing: border-box;
  background-color: green;
}

.es-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.es-container-header {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  padding: var(--gap);
  box-sizing: border-box;

  .button-top {
    max-height: fit-content;
    white-space: nowrap;
  }
}

.es-word-cards {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;

  .es-word-card {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    padding: 2px;
    display: flex;
    flex-direction: row;
    gap: var(--gap);

    &.is-invalid {
      background-color: #f8d7da;
    }

    .es-word-card-stt {
      font-weight: bold;
      width: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .es-word-card-content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      flex: 1;
      cursor: pointer;

      .es-word-card-title {
        font-weight: bold;
      }

      .es-word-card-meaning {
      }
    }

    .es-word-card-actions {
      display: flex;
      flex-direction: row;
      gap: var(--gap);
      padding: 5px;
      align-items: center;
      justify-content: center;
      height: fit-content;

      .edit-button {
        color: #007bff;
        font-size: 11px;

        &:hover,
        &:focus {
          color: #fff;
        }
      }

      .delete-button {
        color: #dc3545;
        font-size: 11px;

        &:hover,
        &:focus {
          color: #fff;
        }
      }
    }
  }
}

.es-word-card-checkbox {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.es-checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid #666;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
  box-sizing: border-box;

  &.is-checked {
    border-color: #198754;
  }
}

.es-checkbox-checked {
  width: 100%;
  height: 100%;
  background-color: #198754;
  border-radius: 2px;
}
