.es-animation {
  .es-animation-item {
    position: absolute;
    opacity: 0;
    transition: all 0.6s ease;
    width: 100px;
    height: 100px;
    background-color: #fff;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
}