.masonry {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    position: relative;

    .masonry-item {
        position: absolute;
        width: calc(100% / 4);

        img {
            width: 100%;
        }
    }

    height: 300px;
    background-color: #f0f0f0;
}