.masonry {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  position: relative;

  .masonry-item {
    --gap: 4px;
    position: absolute;
    width: calc(100% / 3 - var(--gap));
    padding: calc(var(--gap) / 2);
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 1s;

    img {
      width: 100%;
      display: block;
    }
  }
  background-color: #eee;
  min-height: 100vh;
}

body {
  margin: 0;
  position: relative;
}
