.horizontal-scroll-bar-content-block {
  overflow: hidden;
  max-width: 500px;
  margin: auto;
  .block-inner {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 24px;
      top: 0;
      height: 390px;
      width: 50px;
      display: block;
      background-image: url("../images/scroll-vertical.png");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
    }

    .scroll-content {
      margin-left: 40px;
      overflow: auto;
      display: flex;

      &:after {
        content: "";
        display: block;
        height: 390px;
        width: 50px;
        min-width: 50px;
        flex-shrink: 0;
        background-image: url("../images//scroll-vertical.png");
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: -6px;
        transform: translateX(var(--scroll-content-after-left));
        transition: inherit;
      }

      .image-wrapper {
        display: flex;
        gap: 20px;
        background: linear-gradient(to right, #5c0403, #951914 100%);
        padding: 20px 45px;
        margin: 24px 0;

        .image-frame {
          width: 300px;
          height: 300px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: green;
          }
        }
      }
    }
  }

  // @include breakpoint(sm) {
  //   .block-inner {
  //     &::before {
  //       height: 510px;
  //       width: 60px;
  //     }

  //     .scroll-content {
  //       &:after {
  //         height: 510px;
  //         min-width: 60px;
  //         width: 60px;
  //       }

  //       .image-wrapper {
  //         margin-top: 30px;
  //         margin-bottom: 40px;

  //         .image-frame {
  //           width: 400px;
  //           height: 400px;
  //         }
  //       }
  //     }
  //   }
  // }

  // @include breakpoint(rg) {
  //   .block-inner {
  //     max-width: 792px;
  //     margin: 0 auto;

  //     &::before {
  //       left: 0;
  //     }

  //     .scroll-content {
  //       margin-left: 32px;

  //       &:after {
  //         margin-right: 0;
  //       }
  //     }
  //   }
  // }
}

body {
  margin: 0;
}
