.select-dropdown {
    &-popup {
        background: linear-gradient(#d40625, #941a16);
        color: #fff2fc;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }

    &-option {
        color: #fff2fc;
        padding: 15px 0;
        cursor: pointer;
        text-align: center;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}