.select-dropdown-input {
    // --slect-border-color: #ccc;
    // --slect-background-color: #fff;
    // --slect-color: #000;
    // --slect-padding: 5px;
    // --slect-border-radius: 5px;

    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    border: 1px solid var(--slect-border-color, #ccc);
    border-radius: var(--slect-border-radius, 5px);
    padding: var(--slect-padding, 5px);
    color: var(--slect-color, #000);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-dropdown-popup {
    // --slect-border-color: #ccc;
    // --slect-background-color: #fff;
    // --slect-color: #000;
    // --slect-padding: 5px;
    // --slect-border-radius: 5px;
    display: none;
    position: fixed;
    background: var(--slect-background-color, #fff);
    z-index: 1000;
    border: 1px solid var(--slect-border-color, #ccc);
    border-radius: var(--slect-border-radius, 5px);
    padding: var(--slect-padding, 5px);
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: #000;
}

.select-dropdown-option {
    padding: var(--slect-padding, 5px);
    cursor: pointer;

    &:hover {
        background-color: var(--slect-background-color-hover, #f0f0f0);
    }

    &[data-selected="true"] {
        background-color: var(--slect-background-color-selected, #f0f0f0);
    }
}