@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #595858;
    background-color: #fff;
    line-height: 1.5;
    font-weight: 400;
}

.steps {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;

    &__title {
        font-size: 20px;
        text-align: center;
        color: #595858;
        padding-bottom: 20px;

        strong {
            font-weight: 800;
            color: #0063d3;
        }
    }

    .step-divider {
        height: 40px;
        width: 2px;
        background-color: #ddd;
        margin: 0 auto;
        border-radius: 10px;
    }

    .step {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;

        &__title {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            color: #f17400;
            padding-bottom: 20px;
        }

        &__content {
            display: flex;
            flex-direction: row;
            gap: 20px;
            width: 100%;
            position: relative;

            &__image {
                width: 40%;


                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: top;
                }
            }

            &__text {
                width: 60%;
                font-size: 16px;
                font-weight: 400;

                p {
                    padding: 0;
                    margin: 0;
                }

                strong {
                    font-weight: 800;
                    color: #0063d3;
                }
            }
        }
    }

    .steps__summary {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        color: #595858;
        padding-bottom: 20px;

        strong {
            font-weight: 800;
            color: #0063d3;
        }
    }
}

.steps__notice {
    background-color: #0063d3;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;

    .steps__notice__list {
        max-width: 600px;
        margin: 0 auto;
    }
}