.animation {
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

[data-component="hero-banner"] {
  .slider-navigation {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
    pointer-events: none;

    .slider-navigation-button {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;
      pointer-events: auto;
      cursor: pointer;

      &:after {
        border-top: 3px solid var(--color-primary);
        border-left: 3px solid var(--color-primary);
        content: "";
        display: block;
        width: 26px;
        height: 26px;
        transform: rotate(-45deg);
      }

      &-next {
        transform: rotate(180deg);
      }
    }
  }
}

img {
  display: block;
}

.video-player {
  width: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 4.5;

  iframe {
    position: absolute;
    width: 100%;
    height: 200%;
    pointer-events: none;
    top: -25%;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    mix-blend-mode: multiply;
    background: linear-gradient(0deg, #001d5075 0%, rgba(0, 46, 255, 0) 100%);
  }
}

.line {
  background: radial-gradient(circle at 0% 0%, #00437a 0%, #001e50 100%);
}

.news {
  .next {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 80px;
    cursor: pointer;

    .next-overload {
      position: absolute;
      inset: 0;
      background: #fff;
      transform: translateX(80px);
      transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-position: left center;
        object-fit: cover;
      }

      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(45deg);
        margin-right: 15px;
      }
    }

    &:hover {
      .next-overload {
        transform: translateX(0);
      }
    }
  }

  .prev {
    position: absolute;
    right: left;
    top: 0;
    height: 100%;
    width: 80px;
    cursor: pointer;

    .prev-overload {
      position: absolute;
      inset: 0;
      background: #fff;
      transform: translateX(-80px);
      transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        position: absolute;
        object-position: right center;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 3px solid #fff;
        border-left: 3px solid #fff;
        transform: rotate(45deg);
        margin-left: 15px;
      }
    }

    &:hover {
      .prev-overload {
        transform: translateX(0);
      }
    }
  }
}

.animate {
  opacity: 0;
  transform: translateX(-100%);

  &.in-view {
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateX(0%);
    opacity: 1;
    &[data-description] {
      transition-delay: 0.05s;
    }
  }
}

.slider-hero {
  background: #001e50;
  min-height: 80vh;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: hidden;
  --right: 0;

  @media (min-width: 1024px) {
    &.is-left-hover {
      --right: 50px;
    }

    &.is-right-hover {
      --right: -50px;
    }
  }

  .slider-hero__overlay {
    position: absolute;
    inset: 0;
    background: url(../images/oto/bg.png) no-repeat center center;
    opacity: 0.3;
    @extend .animation;
  }

  .slider-hero__inner {
    position: relative;
    max-width: 1280px;
    margin: auto;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(var(--right));
    @extend .animation;
    z-index: 3;

    @media (max-width: 1024px) {
      flex-direction: column-reverse;
    }
    .slider-hero__left {
      width: calc(50% - 20px);
      padding: 0 80px;
      box-sizing: border-box;

      @media (max-width: 1024px) {
        padding: 20px 40px;
        width: 100%;
        flex: 1;
        align-items: center;
      }
    }

    .slider-hero__right {
      width: calc(50% - 20px);
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;

      @media (max-width: 1024px) {
        padding: 0 20px;
        width: 100%;
        padding-top: 60px;
      }

      img {
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }
  }

  .slider-hero__navigation {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    pointer-events: none;
    z-index: 4;

    .navigation-item {
      width: 60px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      --x-translate: 100%;
      cursor: pointer;
      pointer-events: auto;

      &.navigation-next {
        --rotate: 135deg;
        --x-translate: -100%;
        --margin-right: 20px;
      }

      &.navigation-prev {
        --rotate: -45deg;
        --x-translate: 100%;
        --margin-left: 20px;
      }

      @media (min-width: 767px) {
        &:hover {
          --x-translate: 0;
          --margin-left: 15px;
          --margin-right: 15px;
        }
      }

      .navigation-item-inner {
        --size: 15px;
        width: var(--size);
        height: var(--size);
        border-top: 3px solid #fff;
        border-left: 3px solid #fff;
        transform: rotate(var(--rotate));
        margin-left: var(--margin-left, 0);
        margin-right: var(--margin-right, 0);
        position: relative;
        z-index: 2;
        @extend .animation;
      }

      .navigation-item-overlay {
        position: absolute;
        inset: 0;
        width: 100%;
        background: #fff;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transform: translateX(calc(var(--x-translate) * -1));

        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          opacity: 0.3;
          background: url(../images/oto/bg.png) no-repeat center center;
        }
      }
    }
  }
}

// Pagination
.slider-pagination {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;

  .slider-pagination-content {
    position: relative;
    bottom: 0;
    left: 0;
    height: 20px;
    width: fit-content;
    background-color: #fafafa;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 12px;
    box-sizing: border-box;
    margin: 5px auto;

    .slider-pagination-item {
      width: 8px;
      height: 8px;
      background-color: #c8c9c7;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);
      scale: 0.6;

      &.slider-pagination-item-active {
        background-color: var(--color-primary);
        scale: 1;
      }

      &:hover {
        background-color: var(--color-primary);
        cursor: pointer;
        scale: 1;
      }
    }
  }
}
[data-progress] {
  animation: progress 4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
