.hero-banner {
    .slider-navigation {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        pointer-events: none;
        .slider-navigation-button {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: transparent;
            pointer-events: auto;
            cursor: pointer;

            &:after {
                border-top: 3px solid #fff;
                border-right: 3px solid #fff;
                content: '';
                display: block;
                width: 26px;
                height: 26px;
                transform: rotate(45deg);
            }
            &-next {
                transform: rotate(180deg);
            }
        }
    }
}