.hero-banner {
  .slider-navigation {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
    pointer-events: none;
    .slider-navigation-button {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;
      pointer-events: auto;
      cursor: pointer;

      &:after {
        border-top: 3px solid var(--color-primary);
        border-left: 3px solid var(--color-primary);
        content: "";
        display: block;
        width: 26px;
        height: 26px;
        transform: rotate(-45deg);
      }
      &-next {
        transform: rotate(180deg);
      }
    }
  }
}

img {
  display: block;
}

.video-player {
  width: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 4.5;

  iframe {
    position: absolute;
    width: 100%;
    height: 200%;
    pointer-events: none;
    top: -25%;
  }
  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    mix-blend-mode: multiply;
    background: linear-gradient(0deg, #001d5075 0%, rgba(0, 46, 255, 0) 100%);
  }
}

.line {
  background: radial-gradient(circle at 0% 0%, #00437a 0%, #001e50 100%);
}

.news {
  .next {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 80px;
    cursor: pointer;
    .next-overload {
      position: absolute;
      inset: 0;
      background: #fff;
      transform: translateX(80px);
      transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-position: left center;
        object-fit: cover;
      }

      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(45deg);
        margin-right: 15px;
      }
    }

    &:hover {
      .next-overload {
        transform: translateX(0);
      }
    }
  }

  .prev {
    position: absolute;
    right: left;
    top: 0;
    height: 100%;
    width: 80px;
    cursor: pointer;

    .prev-overload {
      position: absolute;
      inset: 0;
      background: #fff;
      transform: translateX(-80px);
      transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        position: absolute;
        object-position: right center;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 3px solid #fff;
        border-left: 3px solid #fff;
        transform: rotate(45deg);
        margin-left: 15px;
      }
    }

    &:hover {
      .prev-overload {
        transform: translateX(0);
      }
    }
  }
}
