.animation {
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hero-banner {
  .slider-navigation {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
    pointer-events: none;

    .slider-navigation-button {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;
      pointer-events: auto;
      cursor: pointer;

      &:after {
        border-top: 3px solid var(--color-primary);
        border-left: 3px solid var(--color-primary);
        content: "";
        display: block;
        width: 26px;
        height: 26px;
        transform: rotate(-45deg);
      }

      &-next {
        transform: rotate(180deg);
      }
    }
  }
}

img {
  display: block;
}

.video-player {
  width: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 4.5;

  iframe {
    position: absolute;
    width: 100%;
    height: 200%;
    pointer-events: none;
    top: -25%;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    mix-blend-mode: multiply;
    background: linear-gradient(0deg, #001d5075 0%, rgba(0, 46, 255, 0) 100%);
  }
}

.line {
  background: radial-gradient(circle at 0% 0%, #00437a 0%, #001e50 100%);
}

.news {
  .next {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 80px;
    cursor: pointer;

    .next-overload {
      position: absolute;
      inset: 0;
      background: #fff;
      transform: translateX(80px);
      transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-position: left center;
        object-fit: cover;
      }

      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(45deg);
        margin-right: 15px;
      }
    }

    &:hover {
      .next-overload {
        transform: translateX(0);
      }
    }
  }

  .prev {
    position: absolute;
    right: left;
    top: 0;
    height: 100%;
    width: 80px;
    cursor: pointer;

    .prev-overload {
      position: absolute;
      inset: 0;
      background: #fff;
      transform: translateX(-80px);
      transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        position: absolute;
        object-position: right center;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 3px solid #fff;
        border-left: 3px solid #fff;
        transform: rotate(45deg);
        margin-left: 15px;
      }
    }

    &:hover {
      .prev-overload {
        transform: translateX(0);
      }
    }
  }
}

.slider-hero {
  background: #001e50;
  height: 80vh;
  position: relative;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: hidden;
  --right: 0;

  @media (min-width: 767px) {
    &.is-left-hover {
      --right: 50px;
    }

    &.is-right-hover {
      --right: -50px;
    }
  }

  .slider-hero__overlay {
    position: absolute;
    inset: 0;
    background: url(../images/oto/bg.png) no-repeat center center;
    opacity: 0.3;
    @extend .animation;
  }

  .slider-hero__inner {
    position: relative;
    max-width: 1280px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(var(--right));
    @extend .animation;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  .slider-hero__left {
    width: calc(50% - 20px);
    padding: 0 80px;
    box-sizing: border-box;

    @media (max-width: 768px) {
      padding: 20px 40px;
      width: 100%;
      flex: 1;
      align-items: center;
    }
  }

  .slider-hero__right {
    width: calc(50% - 20px);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;


    @media (max-width: 768px) {
      padding: 0 20px;
      width: 100%;
      padding-top: 60px;
    }

    img {
      transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

  .slider-hero__navigation {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    pointer-events: none;

    .navigation-item {
      width: 100px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      --x-translate: 100%;
      cursor: pointer;
      pointer-events: auto;

      &.navigation-next {
        --rotate: 135deg;
        --x-translate: -100%;
        --margin-right: 30px;
      }

      &.navigation-prev {
        --rotate: -45deg;
        --x-translate: 100%;
        --margin-left: 30px;
      }

      @media (min-width: 767px) {
        &:hover {
          --x-translate: 0;
          --margin-left: 15px;
          --margin-right: 15px;
        }
      }

      .navigation-item-inner {
        --size: 26px;
        width: var(--size);
        height: var(--size);
        border-top: 3px solid #fff;
        border-left: 3px solid #fff;
        transform: rotate(var(--rotate));
        margin-left: var(--margin-left, 0);
        margin-right: var(--margin-right, 0);
        position: relative;
        z-index: 2;
        @extend .animation;
      }

      .navigation-item-overlay {
        position: absolute;
        inset: 0;
        background: #fff;
        @extend .animation;
        transform: translateX(calc(var(--x-translate) * -1));

        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          opacity: 0.5;
          background: url(../images/oto/bg.png) no-repeat center center;
        }
      }
    }
  }
}