@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=The+Nautigal:wght@400;700&display=swap');

// src/fonts/wd/Parfumerie Font/ParfumerieScriptOldStyle.otf

// @font-face {
//   font-family: ParfumerieScriptOldStyle;
//   src: url('../fonts/wd/ParfumerieFont/ParfumerieScriptOldStyle.otf');
// }

@function px($value) {
  @return calc(#{$value} * 100vw / 1920);
}

body {
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow: hidden;
  --font-name: 'The Nautigal';
  --font-save: 'Cormorant';
  color: #fff;
}

.screen-intro {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    transform: scale(1.2);
  }

  video {
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    transform: scale(1.2);
    position: relative;
    z-index: 2;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;

    &::after {
      content: '';
      display: block;
      top: 0;
      bottom: 0;
      position: absolute;
      width: 100vw;
      height: 100vh;
      left: 0;
      background-image: url('https://lh3.googleusercontent.com/rd-d/ALs6j_EureVSG5po18Rq4InPcUc6js4NaGqfE3nxedmOEPUbsA_Gysy5nz-pf1aL6_w3YvfjtuJfBeAhAb1CdYaZjmMguN03x0VEnBIWWjn5ggbTkOAyhk1Ut6_VdZgudWJnyp2FgnoK_UzWJXN6hlMMDytxSrNYzsgqxw1IQOlNk0u9P7fWHxTPgqWuUNU-9nOsGLz2KJFQhQRtv5IOuLyRAOoEcgDzJC5d_z06au_ryUziPDkxcCoYSSoQLbLnlzo3-tUIaDbI0eCQrtF4AZsPpBSSt4DgOxIcoXfErS1YpIOd4heGMy6qGS30ooYEkNpI65ZxWm8H6axZ1-EedG84Yg6GaMAPLnexSr7PiQrxlhrrvqNv-hLF6tWSu0bsn3sa0g4ftU7I67xbcINnKTNSR8OG6w0U5khBAsJ1aRcOOXXEsg91DzABK7Qbd-4XyTODVVl2N3s7js0mXV2YBk2Bzfde0CVAi8bhvgGlJUYS9aQ25fQWHrN2B-6UwxPF6qSJeLWRA9f3ZK4PglKuI3negkJmoFOhJJpiOH6voC9roXRBIExKPLXfR0zDkzyilW8QT9S-qPfmDgnMHlw0RBJeGf1JQIGq8QwXvmUK7FO7unjG3ILxW8aoyk5ozQt8IMpDPPSNIJA3OX2JSiowLfyDLA0l_anQqjC4ipFJ2htjq99asY1059N5oZyHnxsVdGXxr4XbGw5_Gl6_IC6H29UPNzdHFNy_1JnNgF12wKfdtVKiHPkY81FoOLSQRyt1smW5dC_0kgFrTRRSG5UW4h-3saTTGoxynM-2C_ZtAqZKIrZq6N6UeAEbbLLeesT4navDJvLWm360pn07ENe0v9QhYlcB8kdHLkI4xlZO8cQEUN_0YuD9LL28e_TeWNuKyVtQupYNoP9Uhu6rYW7iNoE7JYsNzwgF-rztwyzKntcTjtVB41bKxd-BaoBM346bEVJvTFAJlUorGd-ZbCJQl3rXj7GAsdJ-6gaGu8HMOzeeX4sTh_48-lzExHWo1-xaaZYD3eONt6Bk-u5RbKHMfX49cu71DfjRJRCGfitn5qi3i95H91gtDNIu0ajHwBnvMOeVjyRyaIsxKq9c9t1JbEm-Va2ruJOIIM0XNXb1GLMdizoCfTeiuOZCwVlUZ3H6TlI7igv-zQ=w2940-h1602?auditContext=forDisplay');
      background-size: cover;
      background-position: center;
      z-index: 2;
      opacity: 0.9;
    }

    &-title {
      font-size: px(90);
      text-align: center;
      margin-top: 100px;
      font-family: var(--font-save);
      position: relative;
      z-index: 3;
    }

    &-description {
      // save the date
      font-weight: 700;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 80px;
      position: relative;
      z-index: 3;
      flex-direction: row-reverse;

      &-name {
        font-family: var(--font-name);
        font-size: px(130);
        text-align: center;
        font-weight: 400;
      }

      svg {
        width: px(100);
        padding-top: 10px;
      }

      &-separator {
        font-family: var(--font-name);
        font-size: px(100);
        font-weight: 700;
        text-align: center;
      }
    }

    &-date {
      z-index: 3;
      position: relative;
      font-family: var(--font-date);
      font-size: px(40);
      text-align: center;
      display: flex;
      flex-direction: row;
      gap: 10px;
      letter-spacing: 10px;
    }
  }
}